.accordion {
	cursor: pointer;
	position: relative;

	&--standard {
		@include font-size(17px);
		border: 1px solid $accordion-border-color;
		padding: $theme-half-spacing-unit $theme-double-spacing-unit $theme-half-spacing-unit $theme-base-spacing-unit;
		color: $theme-title-color;
		background-color: $theme-light-background;
		user-select: none;
		transition: 0.3s all;

		&.accordion--open {
			background-color: $theme-color-primary;
			color: $white;
		}

		.fa-chevron-down {
			@include font-size(15px);
			right: $theme-half-spacing-unit;
		}
	}

	.fa-chevron-down {
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		line-height: 1;
	}

	&--open {
		.fa-chevron-down {
			// stays aligned on the tests I did, might need to be modified
			transform: rotate(180deg) translateY(40%);
		}	
	}

	&--transitioning {
		pointer-events: none;
	}

	&__content {
		display: none;
		
		&--standard {
			padding: $theme-base-spacing-unit;
			border: 1px solid $accordion-border-color;
			border-top: 0;
		}

		&--open {
			display: block;
		}
	}
}

