/*------------------------------------*\
    #CAR HIRE BOX
\*------------------------------------*/

/*-------------VARIABLES--------------*/
$car-hire-bg: #eef3f9;

/*-------------MARKUP--------------*/

.car-hire-box {
	border-top: solid 8px $holidays-primary;
	position: relative;
	margin-bottom: $base-spacing-unit;

	&__inner {
		border: solid 1px #bbbbbb;
	}

	// &__footer {
	// 	text-align: center;

	// 	.btn--medium {
	// 		display: inline-block;
	// 		width: 160px;
	// 	}

	&__add-btn {
		margin-bottom: 20px;
	}

	&__left-col {
		padding: $base-spacing-unit $half-spacing-unit;
		background-color: $car-hire-bg;
	}

	&__car-number {
		> span {
			@include font-size(24px);
			color: $holidays-primary;
			display: block;
		}
	}
	
	&__car-number {
		margin-bottom: $base-spacing-unit;
	}

	&__terms-conditions {
		display: inline-block;
		margin-top: $base-spacing-unit;
		text-decoration: underline;
		color: $holidays-primary;
	}

	&__content {
		padding: $base-spacing-unit $half-spacing-unit;
	}

	&__content-inner--driver-age-confirm {
		display: none;
		opacity: 0;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99;
	}

	&__content-inner--hidden {
		display: none;
	}

	&__view-all-btn {
		display: inline-block;
		margin: 0 auto;
	}

	.select-option {
		border: solid 1px $manchester-grey;
		background-color: $white;
		position: relative;

		&:before {
			content: "";
			width: 44px;
			height: 100%;
			border-left: 1px solid #acadb2;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $white;
		}

		.fa {
			$select-icon-size: 14px;
			@include font-size($select-icon-size);
			color: $holidays-primary;
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -($select-icon-size / 2);
		}

		select {
			width: 100%;
		    height: 44px;
		    border: none;
		    padding: 0 10px;
		    background: #fff;
		    -webkit-appearance: none;

			&:disabled {
				background-color: white;
			}
		}
	}

	&__select-car {
		padding: $half-spacing-unit;
		border: solid 1px $manchester-grey;
		position: relative;
		background-color: $white;
	}

	&__select-car-link {
		color: $holidays-primary;
		font-weight: normal;
		position: absolute;
		right: $half-spacing-unit;
	}
}

@include screen-bigger-than($bp-small) {
	.car-hire-box {
		
		&__left-col,
		&__content {
			float: left;
		}

		&__left-col {
			width: (100% / 3);
			padding: $double-spacing-unit $half-spacing-unit;
			
			&:after {
				content:"";
				width: (100% / 3);
				background-color: inherit;
				position:absolute;
				top:0;
				left:0;
				height:100%;
				z-index:-1;
			}
		}

		&__content {
			width: 100% / 3 * 2;
			position: relative;
			padding: $double-spacing-unit $base-spacing-unit;
		}
	}
}

@include screen-bigger-than($bp-medium) {
	.car-hire-box {

		&__left-col {
			padding: $double-spacing-unit;
		}
	}
}









/*------------------------------------*\
    #CAR SELECTION
\*------------------------------------*/

.car-selection {
	position: relative;

	&__car-type {
		@include font-size(18px);
		color: $holidays-primary;
	}

	&__car-model {
		@include font-size(12px);
	}

	// IMAGE AND RECOMMENDED

	&__img-container {
		position: relative;
		text-align: center;
	}

	&__recommended {
		position: absolute;
		top: 0;
		left: 0;

		&__img-container:not(.car-selection__img-container--recommended) & {
			display: none;
		}
	}

	// DETAILS TABLE

	&__details {
		@include font-size(14px);
		width: 100%;
		margin: $half-spacing-unit 0 $double-spacing-unit;
		font-weight: bold;
		border-collapse: collapse;
	}

	.svg-icon {
		&__details & {
			position: relative;
			top: 4px;
		}
	}

	&__details-row {
		
		&:not(:last-child) {
			border-bottom: 1px solid $manchester-grey;
		}

		td {
			padding: $quarter-spacing-unit 0;
		}
	}
	// PROVIDER RATING

	&__provider {
		margin-bottom: $half-spacing-unit;
	}

	&__provider-img {
		margin-right: $half-spacing-unit;
	}

	&__provider-img,
	&__provider-rating {
		float: left;
	}

	&__provider-rating {
		margin-top: $quarter-spacing-unit;
		font-weight: normal;
		cursor: pointer;
	}

	&__provider-number {
		font-weight: bold;
	}

	&__provider-rating-based-on {
		color: $holidays-primary;
		text-decoration: underline;
	}

	&__link {
		@include font-size(14px);
		color: $holidays-primary;
		text-decoration: underline;
		margin-bottom: $quarter-spacing-unit;
		display:inline-block;

		&:hover {
			text-decoration: none;
		}
	}

	// PRICE SECTIONS
	&__price-section-wrapper {
		html.flexbox & {
			flex-grow: 1;
			width: 100%;
		}
	}

	&__price-section {
		display: table;
		width: 100%;
		margin-bottom: $half-spacing-unit;

		&:not(:last-child) {
			border-bottom: solid 1px $manchester-grey;
		}
	}

	&__price-section[data-driver-age-charge='0'] {
		display: none;
	}

	&__price-info,
	&__price-cost {
		display: table-cell;
		vertical-align: middle;
		padding-bottom: $half-spacing-unit;
	}

	&__price-cost {
		width: 25%;
		text-align: right;
		vertical-align: top;
	}

	&__price-details {
		@include font-size(12px);
		line-height: 1.3;
	}

	&__total {
		margin-bottom: 0;
		font-weight:700
	}

	&__price-footer {
		text-align: center;
		width: 100%;
	}

	&__price-per-day {
		@include font-size(12px);
		line-height: 1.3;
		margin-top: 0;
	}

	&__total-price {
		@include font-size(26px);
		color: $holidays-primary;
		display: block;
	}
}


@include screen-bigger-than($bp-small) {
	.car-selection {
		display: flex;

		&__col {
			@include span(6);

			&:last-child {
				@include last;
			}

			html.flexbox & {
				float: none;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}
		&__price-footer {
			text-align: right;
		}
		&__total-price {
			display: initial;
			margin-left: $half-spacing-unit;
		}
	}
}
