.car-hire-big-enough {

	&__title {
		@include font-size(18px);
		color: $theme-title-color;
		font-weight: normal;
	}

	&__table {
		@include font-size(14px);
		width: 100%;
		max-width: 450px;
	}

	&__head {
		text-align: center;
	}

	&__cell {
		border-bottom: 1px dashed $theme-color-neutral;
		padding: $theme-half-spacing-unit 0;
		
		&:not(:first-child) {
			text-align: center;
		}
	}
}
