$border-radius: 4px;
$padding-size: 20px;
$margin-size: 20px;
$global-site-width: 1400px;

$base-spacing-unit: 24px; // #TODO : #cw to move to 30px;
$quarter-spacing-unit: $base-spacing-unit / 4;
$half-spacing-unit: $base-spacing-unit / 2;
$third-spacing-unit: $base-spacing-unit / 3;
$double-spacing-unit: $base-spacing-unit * 2;
$one-and-half-spacing-unit: $base-spacing-unit * 1.5;
$triple-spacing-unit: $base-spacing-unit * 3;
$quad-spacing-unit: $base-spacing-unit * 4;
